.App {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.main {
	width: 100%;
	max-width: 500px;
	min-height: 50%;
	display: flex;
	border-radius: 0.5rem;
	flex-direction: column;
	margin: 0.5rem 2rem;
	padding: 1rem 0rem;
	background-color: #10101d;
	color: white;
}

i {
	pointer-events: none;
	vertical-align: center; /* to align the icon with the text */
}
