@import url("https://fonts.googleapis.com/css?family=DM+Sans:200,400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #b3e5fc;
	font-family: "DM Sans", sans-serif;
}
